<ng-container *ngIf="true">
  <p>Hola</p>
</ng-container>

<ng-container *ngTemplateOutlet="tmpl; context: { $implicit: 'Hello' }">
</ng-container>

<ng-container *ngTemplateOutlet="tmpl; context: { $implicit: 'World' }">
</ng-container>

<ng-template #tmpl let-text>
  <h1>{{ text }}</h1>
</ng-template>

<div *ngIf="false; else mitemplate">Hola</div>
<ng-template #mitemplate>Mi template</ng-template>

<app-lista color="azul">
  <h1>Listado de productos</h1>
  <h2>Este es el listado de productos actualmente disponibles</h2>
  <table data>
    <tr>
      <td>Nombre</td>
      <td>Precio</td>
      <td>Cantidad</td>
    </tr>
    <tr>
      <td>Martillo</td>
      <td>23 USD</td>
      <td>10</td>
    </tr>
  </table>
  <div>
    <p>Precio Final</p>
  </div>
</app-lista>
